$colorFontPrimary: #fff;
$colorFontSecond: #484151;
$hoverSongItem: #2d2539de;
.album {
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    img {
      width: 300px;
      border-radius: 30px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      font-size: 22px;
      font-weight: 600;
      color: #fff;
      text-align: center;
    }
    &-content {
      color: #bdbdbd;
    }
    &-item {
      padding: 5px 0;
    }
  }
}

//RIGHT
.sings {
  table {
    color: $colorFontSecond;
    th {
      color: #707070;
      &:nth-child(2),
      &:nth-child(3) {
        text-align: center;
      }
    }
    tr {
      border-color: $hoverSongItem !important;
      &:hover {
        background: $hoverSongItem;
        .sings__info-img-icon {
          z-index: 10;
        }
        img {
          opacity: 0.4;
        }
      }
    }
    td {
      padding: 10px !important;
    }
  }
  &__info {
    display: flex;
    &-img {
      position: relative;
      img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        z-index: 1;
      }
      &-icon {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
      }
    }
    &-content {
      padding-left: 8px;

      h6 {
        margin: 0;
        font-size: 15px;
        color: $colorFontPrimary;
      }
      span {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
  &__time,
  &__control {
    color: $colorFontPrimary;
    text-align: center;
  }
}

.icon__font {
  &-md {
    font-size: 25px;
    cursor: pointer;
  }
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #22222230;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
